@model IEnumerable<Joes_Pizza_Shop.Models.OrderInfo>

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout 💰</h1>
<style>
    body{
        background-color:antiquewhite
    }

    .button-container {
        display: flex;
        list-style: none;
        padding: 0;
    }

        .button-container li {
            margin-right: 10px; 
        }

    
   

</style>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order_Id)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Pizza_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza_Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza_Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.pizza_Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_Price)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza_Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pizza_Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Price)
            </td>
           
           
        </tr>
}
    </tbody>
</table>


<div>
    <ul class="button-container">
        <li>
            <form asp-action="Index" method="post">
                <input type="submit" value="Select More" class="btn btn-primary" />
            </form>
        </li>
        <li>
            <form asp-action="Welcome" method="post">
                <input type="submit" value="Buy" class="btn btn-primary" />
            </form>
        </li>
    </ul>
</div>

